<div class="row" id="worker-application-index">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Scruffy.ico", size: "50x50" %> Worker Dashboard</h1>
    </header>
    <p class="lead">Find the ideal job you've always been looking for.</p>
    <p>Get going by clicking on one of the navigation links at the top of the page.</p>

    <%= render 'worker/profile/user', user: @user %>

  </div>
</div>

