<div class="row" id="worker-profile-show">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Leela.ico", size: "50x50" %> Customer Dashboard</h1>
    </header>
    <p class="lead">Here are the results of your search.</p>

    <% @results.each do |result| %>
    <p><%= result[:rank] %> - <%= result[:user].username %></p>
    <% end %>
  </div>
</div>
