<div class="row" id="worker-profile-show">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Leela.ico", size: "50x50" %> Customer Dashboard</h1>
    </header>
    <p class="lead">Find the right person for the right job.</p>

    <%= link_to "Search !!", customer_search_result_path(@user, @user.profile.id), class: "btn btn-primary" %>

    <h2>Matches</h2>
    <p>This is the profile which will be used when making matches and ranking the results.</p>
    <hr />

    <%= render 'shared/profile/root', user: @user %>

  </div>
</div>
