<div class="row" id="worker">
  <div class="col-md-9">
    <header>
      <h1>Worker Page</h1>
    </header>
    <p>Welcome to the SkillZZ Worker Page. Get the ideal job you've been looking for.</p>
  </div>
  <div class="col-md-3">
    <h2>Worker Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">...</a></li>
    </ul>
  </div>
</div>
