<%# TODO: extend to be more like the tag partial with policy and delete %>
<div class="skill">
  <%= link_to skill.name, search_category_skills_path(skill.category, search: "skill:#{skill.name}") %>
</div>
