<header>
  <h1>Skills - <small>belong to one category and have many tags</small></h1>
  <p class="lead">This is a list of all skills.</p>
  <ul class="actions">
    <li><%= link_to "New Skill", new_skill_path, class: "new" %></li>
  </ul>
</header>

<div id="skills">
  <% @skills.each do |skill| %>
    <h2><%= link_to skill.name, skill %></h2>
  <% end %>
</div>

