<div class="row" id="worker-profile-show">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Scruffy.ico", size: "50x50" %> Worker Profile</h1>
    </header>
    <p class="lead">This is the place to brag about your skills.</p>

    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Categories</strong></div>
      <ul class="list-group">
        <% if @user.profile.children.count > 0 %>
          <% @user.profile.children.each do |category| %>
            <%= render 'shared/profile/category', category: category %>
          <% end %>
        <% else %>
          <li class="list-group-item">No categories</li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
