<div class="row" id="worker-profile-show">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Scruffy.ico", size: "50x50" %> Worker Profile</h1>
    </header>
    <p class="lead">This is the place to brag about your skills.</p>

    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Categories</strong></div>
      <ul class="list-group">
        <%= render @user.categories %>
      </ul>
    </div>

  </div>
  <div class="col-md-3">
    <h2>Worker Links</h2>
    <ul class="nav nav-stacked">
      <li class="active"><%= link_to "Profile", worker_profile_path(@user) %></li>
    </ul>
  </div>
</div>
