<div class="row" id="worker-profile-show">
  <div class="col-md-9">
    <header>
      <h1><%= image_tag "Scruffy.ico", size: "50x50" %> Worker Profile</h1>
    </header>
    <p class="lead">This is the place to brag about your skills.</p>

    <%= render 'shared/profile/root', user: @user %>

  </div>
</div>
