<div class="jumbotron">
  <div class="container">
    <h1>Welcome to SkillZZ&ndash;<i class="fa fa-wrench"></i></h1>
    <p>This is the only real place to find the right person for the task at hand.</p>
    <% unless user_signed_in? %>
      <p>You will need to <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> first.</p>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Visitors</h2>
      <p>Proin ac sem sit amet eros aliquam commodo at egestas lacus. Duis vehicula ultrices lorem, id pharetra leo porttitor at. Duis at tellus ac leo ultricies dapibus eget in risus. Nullam sem magna, semper ut ex eget, posuere commodo ipsum.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Workers</h2>
      <p>Sed ut efficitur nisl. Praesent vitae posuere sem, quis venenatis felis. Duis aliquam viverra eleifend. Suspendisse commodo, ante in auctor tristique, sem felis commodo erat, vel euismod est leo nec arcu.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Customers</h2>
      <p>Proin ultricies ligula sodales metus hendrerit, eget consequat est blandit. Praesent sed posuere odio. Praesent vitae lacus ac quam rutrum auctor. Phasellus ut tincidunt eros. Aliquam scelerisque tincidunt turpis dapibus fermentum.</p>
      <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
    </div>
  </div>
</div>
