<div class="tag">
  <% if policy(skill).tag? %>
    <%= link_to "<span></span>".html_safe,
      remove_skill_tag_path(skill, tag), method: :delete, remote: true,
      class: "remove", title: "remove" %>
  <% end %>
  <%= tag.name %>
</div>