#skills h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0;
}

#attributes {
  @extend .table;
  @extend .table-condensed;

  width: 65%;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0;
    }
  }

  td, th {
    line-height: 24px !important;
  }
}

.tag {
  @extend .state;
  @extend .label-info;

  margin-right: 10px;

  a {
    color: white;
    &.remove {
      font-family: "FontAwesome";
      @extend .fa-close;
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}