<div class="page-header">
  <h1>Categories</h1>

  <ul class="actions">
    <li><%= link_to fa-icon("plus") + " New Category", new_category_path, class: "btn btn-success" %></li>
  </ul>
</div>


<div id="categories">
  <% @categories.each do |category| %>
    <h2><%= link_to category.name, category %></h2>
    <p><%= category.description %></p>
  <% end %>
</div>