<h2><%= render 'categories/category', category: Category.find(category.this_id) %></h2>
<table class="profile-list">
  <% if category.children.count > 0 %>
    <% category.children.each do |skill| %>
      <%= render 'shared/profile/skill', user: user, skill: skill %>
    <% end %>
  <% end %>
  <% if user == current_user %>
    <tr class="profile-list">
      <td>
        <div class="skill">
          <%= link_to "<span></span>".html_safe, class: "new", title: "new" %>
          <%= link_to '+ new' %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
