<ul class="profile-list">
  <% if profile.children.count > 0 %>
    <li>
      <% profile.children.each do |category| %>
        <%= render 'shared/profile/category', category: category %>
      <% end %>
    </li>
  <% end %>
  <li>
    <h2>
      <div class="category">
        <%= link_to "<span></span>".html_safe, class: "new", title: "new" %>
        <%= link_to '+' %>
      </div>
    </h2>
  </li>
</ul>
