<p><strong>Categories</strong></p>
  <ul>
    <% if profile.children.count > 0 %>
      <% profile.children.each do |category| %>
        <%= render 'shared/profile/category', category: category %>
      <% end %>
    <% end %>
    <li>Add category</li>
  </ul>
</div>
