<li><%= Skill.find(skill.this_id).name %>
  <p><strong>Tags</strong></p>
  <ul>
    <% if skill.children.count > 0 %>
      <% skill.children.each do |tag| %>
      <%= render 'shared/profile/tag', tag: tag %>
        <% end %>
    <% end %>
    <li>Add tag</li>
  </ul>
</li>
