<div class="row" id="customer">
  <div class="col-md-9">
    <header>
      <h1>Customer Page</h1>
    </header>
    <p>Welcome to the SkillZZ Customer Page. Find the ideal person for the job.</p>
  </div>
  <div class="col-md-3">
    <h2>Customer Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">...</a></li>
    </ul>
  </div>
</div>
